<%- include('./partials/head') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href='/new'>Add Username</a>

    <div>
        <% usernames.forEach(name => { %>
         <%= name.username %>
        <% }) %>
    </div>

    

<%- include('./partials/footer') %>
